.groups
  .groups__group
    .groups__group__group-name
      group[1].name
    .groups__group__latest-message
      group[1].message(latest)
  .groups__group
    .groups__group__group-name
      group[n].name
    .groups__group__latest-message
      group[n].message(latest)