.messages
  .messages__message
    .messages__message__text
      message[1].test
    .messages__message__posted_at
      message[1].posted_at
    .messages__message__user
      message[1].user
.message-form