.four-boxes
  .four-boxes__left
    .four-boxes__left__top
      = render partial: 'user'
    .four-boxes__left__bottom
      = render partial: 'groups-list'
  .four-boxes__right
    .four-boxes__right__top
      = render partial: 'group-info'
    .four-boxes__right__bottom
      = render partial: 'messages'